.adminPageContainer, .adminDropDown {
  width: 80%;
  margin: 0 auto;
}

.userTile {
  color: black;
  border: 2px solid lightgrey;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 20px;
}

.adminInput {
  background-color: white;
  color: black;
  border-bottom: 1px solid grey;
  text-align: left;
  margin: 10px 0 10px 0;
}

.adminSubmit, .adminRadio {
  width: 70px;
  display: block;
}

form {
  height: 100%;
  background-color: white;
}

.adminDate {
  text-align: right;
}

.adminLeft {
  text-align: left;
}

.adminField {
  border-bottom: 1px solid grey;
  text-align: left;
  margin: 10px 0 10px 0;
}

.adminButtonRow {
  padding-left: 14px;
}

.adminCheckBox, .adminLabel {
  text-align: left;
  display: inline-block;
}
