.userTile {
  background-color: gray;
  color: white;
  border: 3px solid white;
  width: 60%;
}

.adminInput {
  background-color: white;
  color: gray;
  display: block;
  width: 30%;
}

.adminSubmit, .adminRadio {
  width: 70px;
  display: block;
}

form {
  height: 100%;
  background-color: black;
}
