.homeDiv {
  margin: auto;
  margin-top: 100px;
  width: 40%;
  border: 3px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.homeHeader {
  text-align: center;
}
