.awardContentDiv {
  margin: auto;
  margin-top: 50px;
  width: 30%;
  border-radius: 10px;
  padding: 30px;
  background-color: white;
  margin-bottom: 100px;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.2);
}

.awardPageContentWrapper {
  min-height: 600px;
}

.award {
  background-color: white;
}

.awardLabel {
  font-weight: bold;
  text-align: left;
  display: inline-block;
}

.awardSubmit {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  background-color: white;
  border: 2px solid #12a4db;
  color: #12a4db;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
}

.awardSubmit:hover {
  background-color: #12a4db;
  color: white;
}

.awardFormDiv {
  width: 100%;
}

.awardInput {
  border: 0;
  border-bottom: 1px solid black;
  margin: 10px 0;
  display: inline-block;
  width: 100%;
}

#awardSelect {
  margin-left: 5px;
}
