.awardContentDiv {
  margin: auto;
  margin-top: 100px;
  width: 30%;
  border: 3px solid black;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
}

.award {
  background-color: white;
}

.awardLabel {
  font-weight: bold;
  text-align: left;
}

.awardInput {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}

.awardRec {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-right: 160px;
}

.awardEmail {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-right: 160px;
}

.awardDate{
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-right: 10px;
}

.awardSubmit {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}

#awardSelect {
  margin-left: 5px;
}
