.signup {
  background-color: white;
}

.loginLabel {
  font-weight: bold;
  text-align: left;
}

/* Referenced: https://www.w3schools.com/css/css_align.asp*/
.loginDiv {
    margin: auto;
    margin-top: 40px;
    width: 27%;
    border-radius: 10px;
    /*top, right, bottom, left */
    padding: 30px 20px 10px 30px;
    background-color: white;
}

.signupTitle{
  text-align: center;
  font-weight: bold;
}

.loginPassword, .loginEmail {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 15px;
  border: 0;
  border-bottom: 1px solid #C3C3C3;
}

.loginInput {
  width: 100%;
  border-radius: 10px;
  background-color: #12a4db;
  color: white;
  border: 1px solid #12a4db;
}

.loginBox {
  min-height: 600px;
}

/*.loginInput:hover {
  background-color: white;
  color: #12a4db;
}*/

.loginEmail {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-right: 80px;
}

.loginPassword {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-right: 140px;
}

select {
  margin-left: 5px;
}

.lPassword {
  font-size: 13px;
  margin-bottom: 8px;
  width: 100%;
  text-align: right;
}

.signupButton {
  background-color: white;
  color: #12a4db;
  text-align: center;
  width: 100%;
  padding: 5px;
  border: 1px solid #12a4db;
  margin-top: 15px;
  border-radius: 10px;
}

.signupButton:hover {
    background-color: #12a4db;
    color: white;
}

.adminLogin {
  text-align: center;
  line-height: 1;
  padding: 5px;
}

.adminText {
  font-size: 0.8em;
}

.adminLogin:hover {
  border-radius: 10px;
}

a {
  text-decoration: none !important;
}


#warningSpan {
  color: red;
}
