.forget {
  background-color: white;
}

.forgetLabel {
  font-weight: bold;
  text-align: left;
}

/* Referenced: https://www.w3schools.com/css/css_align.asp*/
.forgetDiv {
    margin: auto;
<<<<<<< HEAD
    margin-top: 40px;
    width: 27%;
=======
    margin-top: 100px;
    width: 27%;
    border: 3px solid black;
>>>>>>> af38203f1bda4b6703f70fb6e65408ca1189f91d
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;
<<<<<<< HEAD
    background-color: white;
    border-radius: 10px;
=======
>>>>>>> af38203f1bda4b6703f70fb6e65408ca1189f91d

}

.forgetTitle{
  text-align: center;
  font-weight: bold;
}

.forgetInput {
  width: 100%;
<<<<<<< HEAD
  border: 1px solid #12a4db;
  color: #12a4db;
  margin-top: 15px;
  background-color: white;
  border-radius: 10px;
}

.forgetInput:hover {
  background-color: #12a4db;
  color: white;
=======
  margin-bottom: 8px;
  margin-top: 15px;
>>>>>>> af38203f1bda4b6703f70fb6e65408ca1189f91d
}

.forgetEmail {
  width: 100%;
<<<<<<< HEAD
  border: 0;
  border-bottom: 1px solid #c3c3c3;
=======
>>>>>>> af38203f1bda4b6703f70fb6e65408ca1189f91d
  margin-bottom: 8px;
  margin-top: 8px;
  padding-right: 80px;
}

#warningSpan {
  color: red;
}
