.forget {
  background-color: white;
}

.forgetLabel {
  font-weight: bold;
  text-align: left;
}

/* Referenced: https://www.w3schools.com/css/css_align.asp*/
.forgetDiv {
    margin: auto;
    margin-top: 100px;
    width: 27%;
    border: 3px solid black;
    padding-top: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
    padding-right: 30px;

}

.forgetTitle{
  text-align: center;
  font-weight: bold;
}

.forgetInput {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 15px;
}

.forgetEmail {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
  padding-right: 80px;
}

#warningSpan {
  color: red;
}
