.signup {
  background-color: white;
}

.signupLabel {
  font-weight: bold;
  text-align: left;
  display: block;
}

/* Referenced: https://www.w3schools.com/css/css_align.asp*/
.inputDiv {
    margin: auto;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 30%;
    padding: 10px;
    background-color: white;
    border-radius: 10px;
}

.signupTitle{
  text-align: center;
  font-weight: bold;
}

.signupInput {
  width: 100%;
  border: 0;
  border-bottom: 1px solid #c3c3c3;
}

.signupButton {
  background-color: white;
  border: 2px solid #12a4db;
  color: #12a4db;
  padding: 10px 15px;
  border-radius: 10px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  width: 100%;
}

.signupButton:hover {
  background-color: #12a4db;
  border: 2px solid #12a4db;
  color: white;
}

.sigPreview {
  text-align: center;
  height: 200px;
  width: 100%;
  margin-top: 5px;
  border: 1px solid grey;
}

.sigPreview img {
  width: 100%;
  height: 100%;
}

.sigPreview {
  text-align: center;
  height: 200px;
  width: 100%;
  margin-top: 5px;
  border-left: 1px solid gray;
  border-right: 1px solid gray;
  border-top: 1px solid gray;
  border-bottom: 1px solid gray;
}

.sigPreview img {
  width: 100%;
  height: 100%;
}

#lName {
  width: 100%;
  margin-bottom: 8px;
  margin-top: 8px;
}

#accountSelect {
  margin-left: 5px;
}

#fNameLabel {
  font-weight: bold;
  text-align: left;
}

#lNameLabel {
  font-weight: bold;
  text-align: left;
}

#sigLabel {
  font-weight: bold;
  text-align: left;
}
